footer.footer-section
  nav.footer-nav
    ul
      li
        a.footer-links(href='#') Terms &amp; Conditions
        a.footer-links(href='#') Privacy Policy
        a.footer-links(href='#') Disclaimer
        // <a href="#" class="footer-links">Terms & Conditions</a>
     
  div
    p.author Designed &amp; Developed by 
      a(href="https://github.com/nazimulhossain" title="Nazimul Hossain" target="_blank" class="author-name") Nazimul Hossain

.api-provider-text
  p Powered by 
    a.powered-by(href="https://www.weatherapi.com/" title="Weather API") WeatherAPI.com   