doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="Description" content="JNNWeather has local and international weather forecasts from the most accurate weather forecasting technology featuring up to the minute weather reports")
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/queries.css')
    script(src='js/script.js', defer='')
    title #{title}

  body
    include _header 
    block content


    include _footer 
       