extends base

block content

  main
    section.form
      .container
        h1.header-primary Weather Forecast
        p.header-description
          | Search local or global weather, Enter city name and select from auto
          | populated list.
        input#searchbox.search-input(type='search', placeholder='Search')
        .results
